<p-sidebar [(visible)]="visibleSideBar" [baseZIndex]="10000">
  <h1 style="font-weight:normal">{{currentUser.login}}</h1>
  <p-button type="button" (click)="visibleSideBar = false" label="Save" styleClass="p-button-success"></p-button>
  <p-button type="button" (click)="visibleSideBar = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>
<div class="container">
    <div>
      <p-gmap #gmap *ngIf="mapInitialized"
            [options]="options"
            [overlays]="overlays"
            [style]="{'width':'100%','height':'520px'}"
            (onMapClick)="handleMapClick($event)"
            (onOverlayClick)="handleOverlayClick($event)">
      </p-gmap>
    </div>
    <div class="statistic-tab row d-flex justify-content-center">
      <p-table #dt mdbTable [value]="places" styleClass="ui-table-customers table table-striped table-responsive-md btn-table">
          <ng-template pTemplate="header">
              <tr>
                  <th>Id</th>
                  <th>Longitude</th>
                  <th>Latitude</th>
                  <th>Details</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entity>
              <tr class="ui-selectable-row">
                  <td>{{entity.id}}</td>
                  <td>{{entity.x}} km</td>
                  <td>{{entity.y}}</td>
                  <td>TODO: Details</td>
              </tr>
          </ng-template>
      </p-table>
    </div>
    <div class="calculate-container">
      <button class="btn btn-success"
              type="button"
              (click)="calculateRoute()">
        Calculate
      </button>
      <button class="btn btn-dark"
              type="button"
              (click)="resetPlaces()">
        Reset
      </button>
    </div>
    <div *ngIf="!visibleSideBar" class="sidebar-buttons-container">
      <p-button type="button" (click)="visibleSideBar = true" icon="pi pi-arrow-right"></p-button>
    </div>
</div>
