.container
    padding 50px 0
    height 100%

    .calculate-container
        position fixed
        width 70px
        height 70px
        margin 20px
        bottom 20px
        right 30px

    .sidebar-buttons-container
        position fixed
        margin 20px
        top 40px
        left 0

.statistic-tab
    width: 100%
    margin: 0

.calculate-container
    button
        margin: .5em
